body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  resize: none;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 15px solid lightpink;
}

.background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0; left: 0;
  background: linear-gradient(109.6deg, rgb(245, 239, 249) 30.1%, rgb(207, 211, 236) 100.2%);
  /* background-color: #fff; */
  background-attachment: fixed;
}

.title {
  color: rgb(242, 181, 200);
  animation: 1s ease-out 0s 1 slideInFromLeft;
  font-weight: bold;
  text-shadow: 1px 1px 2px black, 0 0 25px lightgrey, 0 0 5px lightpink;
}

.time-tables {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.lead,
.past,
.current,
.future {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.time {
  margin-top: 1%;
  font-weight: bold;
}

.past {
  background-color: lightgrey;
  max-width: 60px;
  margin: auto;
}

.current {
  background-color: #CCCCFF;
  max-width: 60px;
  margin: auto;
}

.future {
  background-color: pink;
  max-width: 60px;
  margin: auto;
}

.saveBtn {
  border-left: 2px solid pink;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
  color: black;
}

.saveBtn:hover {
  font-size: 15px;
  transition: all 0.3s ease-in-out;
  background-color: pink;
  border: 2px solid white;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}